.top-bar {
  background-color:  #754b1b; 
}

.top-bar a{
  color: white;
  text-align: center;
  margin-top: 1rem;
  font-weight: 600;
}

.top-bar ul {
  background-color: transparent;
  margin-top: 1rem;
}

.top-bar .logo {
  width: 12rem;
  margin-left: .5rem;
  margin-top: 1rem;
}

.home-page-layout {
  background-color: #ECDCC6;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  columns: 4;
  column-gap: 15px;
  padding: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

img {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
}

.image-tile-index:hover {
  transform: scaleX(1.04) scaleY(1.04) scaleZ(1);
  transition: transform .5s ease 0s;
  max-width: 100%;
  opacity: 0.6;
}

.button {
  border-radius: 20px;
  background-color: #c69864;
}

body {
  background-color: #754b1b;
}

footer {
  display: block;
}

.about-us {
  color: white;
  text-align: center;
  margin-right: 1rem;
}

.contact {
  color: white;
  margin-left: 1rem;
}

.footer {
  text-align: center;
  color: white;
}

.pinterest img {
  height: 2rem;
  width: 2rem;
}

.instagram img {
  height: 3rem;
  width: 3rem;
}

.linkedin img {
  height: 2.5rem;
  width: 2.5rem;
}

.footer-info {
  margin-top: 2rem;
}

.all-photographers {
  color: white;
}

.target-photographer {
  color: white
}

.index-page {
  background-color: #c69864;
}

.show-page {
  background-color: #c69864;
  color: white
}

.show-title {
  text-align: center;
}

.show-info {
  text-align: center;
}

.sign-up-page {
  background-color: #c69864;
}

.about-contact {
  display: inline;
  margin-right: 1rem;
}

.button.hollow {
  border: none;
  color: white;
}

.log-in {
  background-color: #ad712d;
}

.welcome-sign-in {
  text-align: center;
  color:#311d04;
}

.welcome-description {
  text-align: center;
  color: #311d04;
}

.sign-up-page {
  border-radius: 30px;
  padding-left: 10rem;
  padding-right: 10rem;
}

.signup-login {
  text-align: center;
}

.field {
  margin-bottom: 1rem;
}

.or {
  margin-top: 1rem;
  font-weight: 600;
}

.photographer-show {
  background-color:#ECDCC6
}

.small-12 {
  margin-left: 2rem;
}

.photographer-index-component {
  color: black;
  background-color: #ECDCC6;
}

.photographer-tile-component,
.media-group,
.photographer-tile, a {
  color: black;
}

.border-new-photographer {
  border-radius: 2rem ;
  box-shadow: 0px 0px 100px 0px rgb(55, 55, 55);

}

.new-photographer-component {
  background-color: #ECDCC6;
  border-radius: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.back-image {
  padding: 2rem;
  padding-bottom: 5rem;
  background-size: 200%;
  background-image: url('Photo-layout.jpg');
  background-repeat: no-repeat;
}

.photographer-form,
.join-roster {
  text-align: center;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(62, 62, 62);
}

.photographer-form {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}

.form-box {
  border-radius: 1rem;
  height: 3rem;
}

.button,
.photographer{
  background-color: rgb(230, 0, 35);
  border-radius: 5rem;
  text-align: center;
}

.back-ground-image-signup {
  padding: 2rem;
  background-size: 250%;
  padding-bottom: 2rem;
  background-image: url(Signup.jpg);
}

.center-new-photographer-button {
  text-align: center;
}

.form-box:hover {
  box-shadow: 0px 0px 0px 3px rgb(167, 204, 246);
}

#user_email,
#user_password,
#user_password_confirmation{
  border-radius: 1rem;
}

#user_email:hover,
#user_password:hover,
#user_password_confirmation:hover {
  box-shadow: 0px 0px 0px 3px rgb(167, 204, 246);
}


/* media scroller */

.media-container {
  position: relative;
}

.media-scroller,
.media-group {
  display: grid;
  gap: 0.25rem;
  grid-auto-flow: column;
}

.media-scroller {
  overflow-x: hidden;
  scroll-behavior: smooth;
  grid-auto-columns: 100%;
  padding: 0 3rem;
  scroll-padding-inline: 3rem;
}

.media-group {
  grid-auto-columns: 1fr;
}

.media-element {
  border-radius: 0.25rem;
  overflow: hidden;
}

.media-element > img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.next,
.previous {
  display: none;
  align-items: center;
  z-index: 10;
  position: absolute;
  width: 3rem;
  padding: 1rem;
  background: rgb(0 0 0 / 0);
  opacity: 0;
}

.previous {
  left: 0;
  top: 0;
  bottom: 0;
}

.next {
  right: 0;
  top: 0;
  bottom: 0;
}

.media-group:first-child :where(.next, .previous) {
  display: flex;
}

.media-scroller:hover :where(.next, .previous) {
  opacity: 1;
}

:where(.next, .previous):hover {
  background: rgb(0 0 0 / 0.3);
}

:where(.next, .previous) > svg {
  transition: transform 75ms linear;
  transform: scale(1);
}
:where(.next, .previous):hover > svg {
  transform: scale(1.2);
}

.media-group:target :where(.next, .previous) {
  display: flex;
}

.media-scroller:has(:target:not(:first-child))
  .media-group:first-of-type
  .next {
  display: none;
}

/* navigation indicators */

.navigation-indicators {
  opacity: 0;
  position: absolute;
  display: flex;
  gap: 3px;

  top: -1rem;
  right: 2rem;
}

.navigation-indicators > * {
  width: 1rem;
  height: 2px;
  background: white;
  opacity: 0.5;
}

.media-scroller:has(.media-group:target)
  .navigation-indicators
  > *:nth-child(1) {
  opacity: 0.5;
}

.navigation-indicators > *:nth-child(1),
.media-group:nth-child(1):target ~ .navigation-indicators > *:nth-child(1) {
  opacity: 1;
}

.media-group:nth-child(2):target ~ .navigation-indicators > *:nth-child(2) {
  opacity: 1;
}

.media-group:nth-child(3):target ~ .navigation-indicators > *:nth-child(3) {
  opacity: 1;
}

.media-group:nth-child(4):target ~ .navigation-indicators > *:nth-child(4) {
  opacity: 1;
}

.media-scroller:hover .navigation-indicators {
  opacity: 1;
}